
<nav class="navbar navbar-default" style="background-color: black">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-left"  routerLink="">
        <img src="https://i.ibb.co/cFxKhzH/cine.png" style="width:70px;float:left;"/>
      </div>
    </div>
    <ul class="nav navbar-nav">
   <li style="padding: 22px"><a routerLink="" style="color: white">Cinemas</a></li>
    </ul>
    <ul>
   <li class="glyphicon glyphicon-user pull-right" style="padding: 28px;color: white">
     <a routerLink="/login" style="color: white;top: 10px;font-size: 18px;">Admin</a></li>
    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>
